@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.engineers {
  display: block;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  width: 47%;
  float: left;
  text-align: justify;
  background-color: #fff;
  padding: 2rem;
  margin: .51rem;
}

.machines {
  display: block;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  width: 47%;
  float: right;
  text-align: justify;
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 3.4rem;
  margin: .51rem;
}
html {
	height: 100%;
}

body {
	background: rgb(221,180,180);
background: linear-gradient(0deg, #757f9a95 0%, #d7dde873 74%);
}

body {
	background: linear-gradient(180deg, #eef2f3 0%, #8e9eab 74%);
  height: 60vw;
  font-family: 'Lato', sans-serif;
}

/* .nav-link {
  margin: 5px;
  border-radius: 1rem;
  width: 90%;
}

.nav-link.active {
  border-radius: .5rem;
  width: 90%;
  background: #0c709e!important;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #798af7, #FBD786) !important; */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #798af7, #FBD786) !important; */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} */

/* a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a:hover {
  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: rgb(255, 255, 255);
} */

input {
  margin: 10px;
}

input#query {
  width: 200px;
  box-sizing: border-box;
}

.navbar fixed-bottom{
  text-align: center;
}

a {
  border-bottom: 2px solid #3f4570aa;
  font-size: 1em;
  color: black;
  transition: all 0.25s linear;
  position: relative;
  margin: 0 10px;
}

a:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #de0707d6;
  color: gray;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

a:hover:before {
  transform: scale(1);
}

div.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #333;
	padding: 0px;
}

a.footer {
  color: rgb(189, 188, 188);
}

a.footer:hover {
  color: rgb(255, 255, 255);
}

.button {
	margin-top: 15px;
  margin-bottom: 10px;
  width: 10vw;
}