<div class="foote">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="foote" href="https://anton-ch.com/">Anton Ch</a>
  </div>
</div>
