@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<div class="text-center jumbotron">
<h4>Add a new flavor</h4>

@using (Html.BeginForm())
{
  <div class="form-row">
    <div class="form-group col-md-12">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
    </div>
  </div>
    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
</div>
<p>@Html.ActionLink("Show all flavors", "Index")</p>